/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2017, 1:51:55 PM
    Author     : vrebo
*/

.button {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 2, 0.3, 0, 2);
    -fx-border-radius: 0px 0px 0px 0px;
    -fx-background-color: rgb(96,125,139);
    -fx-padding: 6px 16px 6px 16px;
    -fx-text-fill: white;
}

.menu-bar {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.4), 2, 0.3, 0, 2);
    -fx-background-color: rgb(96,125,139);
    -fx-min-height: 20px;
}

.menu {
    -fx-padding: 8px 8px 8px 8px;
}

.menu .label {
    -fx-text-fill: white;
    -fx-font-size: 11pt ;
}

.menu-item .label {
    -fx-text-fill: black;
    -fx-font-size: 9pt ;
}

.main-container {
    -fx-background-color: #FAFAFA;
}

.text-field {
    -fx-background-color: null;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) #cccccc rgba(0,0,0,0);
    -fx-border-width: 0 0 2px 0;
}